<div id="footer">
  <nav class="navbar navbar-expand-md navbar-light bg-navbar">
    <div class="container">
      <div class="collapse navbar-collapse" id="footerNav">
        <ul class="navbar-nav nav-pills ml-auto">
          <li class="nav-link">
            <a class="mx-1" href="/">© 2026 THETA@BJTU</a>
          </li>
          <li class="nav-link">
            <span class="mx-1 visitor-count">总访问量 <span id="busuanzi_value_site_pv">--</span> 次</span>
          </li>
          <li class="nav-link">
            <a class="wechat-qr-trigger" href="#" data-toggle="tooltip" data-placement="top" title="扫码关注公众号">
              <img src="/images/qrcode_for_gh_311fc195e6e1_430.jpg" alt="微信公众号" class="footer-qr-img">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<script async defer src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script src="/js/main.js"></script>
