<meta charset="utf-8"/>
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- RSS feed -->
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">

<!-- 样式表 -->
<link href="/css/style.css" rel="stylesheet" media="screen">

<!-- Favicon -->
<link rel="shortcut icon" href="/images/favicon.ico"/>

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
