<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {% include head.html %}
</head>
<body>
  <a href="#main-content" class="skip-link">跳转到主要内容</a>
  {% include header.html %}

  <!-- 核心 JS 先加载（确保页面脚本可依赖 jQuery） -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/site.js"></script>

  <div id="main-content" class="container main-content" role="main">
    <div class="row">
      <div class="col-12">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
